<div class="sidebar-container">
    <div class="sidebar-header">
      Task Manager
    </div>

    <hr class="divider" />
    
    <a routerLink="/home" routerLinkActive="active" class="nav-item">
      <i class="nav-icon material-icons">apps</i>
      Dashboard
    </a>
    
    <hr class="divider" />
  
    <a routerLink="/tasks" routerLinkActive="active" class="nav-item">
      <i class="nav-icon material-icons">check_circle</i>
      My Tasks
    </a>
  
    <hr class="divider" />
  
    <button (click)="onLogOut()" class="nav-item logout">
      <i class="nav-icon material-icons">logout</i>
      Log Out
    </button>
</div>
  